<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.aber.dcs.CS22120.grouptwelve.androidcode"
    
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="21" />
    <instrumentation android:name="android.test.InstrumentationTestRunner" android:targetPackage="uk.ac.aber.dcs.CS22120.grouptwelve.androidcode"></instrumentation>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
                <activity
            android:name="uk.ac.aber.dcs.CS22120.grouptwelve.androidcode.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- ADDING ALL THE ACTIVITIES -->
        <activity android:name=".DetailsEntryScreen" >
        </activity>
        
        <activity android:name=".PreviousRecordings" >
        </activity>
        
        <activity android:name=".SiteCreationScreen" >
        </activity>
        
        <activity android:name=".SpeciesDetailsScreen" >
        </activity>
        
        <activity android:name=".BsbiControl" >
        </activity>
        
        <activity android:name=".SiteControl" >
        </activity>
        
        <activity android:name=".DaforScale" >
        </activity>
        
        <activity android:name=".AddingSpecies" >
        </activity>
        
         <activity android:name=".EditSpeciesSelector" >
        </activity>
        
         <activity android:name=".SpeciesSelect" >
        </activity>
        
         <activity android:name=".SpecimenEditScreen" >
        </activity>
        
         <activity android:name=".EditingData" >
        </activity>
    </application>
</manifest>
